== helper_1
== helper_2
== helper_2
== helper_2
== helper_2
== helper_1
== helper_1
== helper_1
- 1000.times do
  h1 Loopy doopey!

javascript:
  for(var i = 0; i < 100000; i++) {
    document.write(i);
  }
